<%- content_for :title do %>Documentation<% end %>

<h2>Documentation</h2>

<article>
  <div><h3><%= link_to "Introduction", docs_path("introduction") %></h3> <span>Overview of Spine</span></div>
  <div><h3><%= link_to "Controllers", docs_path("controllers") %></h3> <span>Spine Controllers</span></div>
  <div><h3><%= link_to "Models", docs_path("models") %></h3> <span>Data storage and manipulation</span></div>
  <div><h3><%= link_to "Events", docs_path("events") %></h3> <span>Custom and controller events</span></div>
  <div><h3><%= link_to "Routing", docs_path("routing") %></h3> <span>HTML5 history and hash support</span></div>
  <div><h3><%= link_to "Patterns", docs_path("patterns") %></h3> <span>Controller patterns</span></div>
</article>

<h2>Guides</h2>

<article>
  <div><h3>Introduction</h3> <span>Overview of Spine</span></div>
  <div><h3>Controllers</h3> <span>Inte</span></div>
  <div><h3>Models</h3> <span>Data storage and manipulation</span></div>
  <div><h3>Events</h3> <span>Custom and controller events</span></div>
  <div><h3>Routing</h3> <span>HTML5 history and hash support</span></div>
  <div><h3>Patterns</h3> <span>Controller patterns</span></div>
</article>