<% content_for(:title, "About") %>

<header class="heading">
  <h2>About</h2>  
</header>

<article>
  <p>Spine was written by <%= link_to "Alex MacCaw", "http://alexmaccaw.co.uk" %>, alongside O'Reilly's <%= link_to "JavaScript Web Applications", "http://shop.oreilly.com/product/0636920018421.do" %>. The framework was heavily inspired by <%= link_to "Backbone", "http://documentcloud.github.com/backbone/" %>, an excellent alternative.</p>
  <p>Follow the author on <%= link_to "Twitter", "http://twitter.com/maccman" %>.</p>
  <p>Contact the author at <%= mail_to "info@eribium.org" %>.</p>
</article>