<% content_for(:title, "Community") %>

<header class="heading">
  <h2>Community</h2>
</header>

<article>
  <h3>Community Support and Discussion</h3>
  <p>Ideally you can post a message on the <%= link_to "Google Group", "https://groups.google.com/forum/#!forum/spinejs" %>.</p>
  <p>There is also some activity on <%= link_to "StackOverflow", "http://stackoverflow.com/questions/tagged/spine.js" %>.</p>
  <p>Join the <a href="irc://irc.freenode.net/#spine">#spine</a> group on irc.freenode.net.</p>
  <h3>The People who work on Spine</h3>
  <p> - Spine's author, <%= link_to "Alex MacCaw", "http://alexmaccaw.co.uk" %>, on <%= link_to "Twitter", "http://twitter.com/maccman" %>.</p>
  <p> - A current maintaier, Aaron Eischeid, on <%= link_to "Twitter", "http://twitter.com/aeischeid" %>, on <%= link_to "Google+", "https://plus.google.com/112143844666155675269/" %>.</p>
  <p> - A current maintaier, Chris Engebretson, on <%= link_to "Google+", "https://plus.google.com/108878142598537707242/" %>.</p>
  <h3>Contributing</h3>
  <p>See the <%= link_to "Guide on Contributing to Spine", "https://github.com/spine/spine/wiki/Contributing-to-Spine" %>.</p>
</article>
