<% content_for(:title, "Community") %>

<header class="heading">
  <h2>Community</h2>  
</header>

<article>
  <p>Post a message on the <%= link_to "Google Group", "https://groups.google.com/forum/#!forum/spinejs" %>.</p>
  <p>Join the <a href="irc://irc.freenode.net/#spine">#spine</a> group on irc.freenode.net.</p>
  <p>Add a ticket to the <%= link_to "GitHub repo", "https://github.com/spine/spine" %>.</p>
  <p>Follow the framework's author, <%= link_to "Alex MacCaw", "http://alexmaccaw.co.uk" %>, on <%= link_to "Twitter", "http://twitter.com/maccman" %>.</p>
  <p>Or send me an email: <%= mail_to "info@eribium.org" %>.</p>
</article>
