<!DOCTYPE html>
<html>
<head>
  <title>Spine</title>
  <%= stylesheet_link_tag    "docs" %>
  <%= javascript_include_tag "docs" %>
  <%= csrf_meta_tags %>
  <%= analytics_tag %>
</head>
<body class="<%= css_scope %>">
  <header id="header">
    <h1><a href="/">Spine</a></h1>
    <h2><%= yield(:title) %></h2>
    <%= flash_message %>
  </header>
  
  <article id="article">
  
    <nav id="nav">
      <h2><%= link_to "API", api_path %></h2>
      <ul>
        <li><%= link_to "Classes", api_path("classes") %></li>
        <li><%= link_to "Models", api_path("models") %></li>
        <li><%= link_to "Controllers", api_path("controllers") %></li>
        <li><%= link_to "Events", api_path("events") %></li>
        <li><%= link_to "Routing", api_path("routing") %></li>
      </ul>
      
      <h2>More</h2>
      
      <ul>
        <li><%= link_to "Guides", docs_path %></li>
      </ul>
      
      <div id="search">
        <%= form_tag api_path(:search), :method => :get do %>
          <input type="search" name="query" value="" placeholder="Search..." results="0">
        <%- end %>
      </div>
    </nav>
  
    <section id="section">    
      <%= yield %>
    </section>
    
  </article>
</body>
</html>