<!DOCTYPE html>
<html>
<head>
  <title>Spine</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= analytics_tag %>
</head>
<body class="<%= css_scope %>">
  <section id="section">
    <header id="header">
      <div class="left">
        <h1><%= link_to "Spine", "/" %></h1>
      </div>
      
      <nav class="right">
        <ul>
          <li><%= link_to "Documentation", docs_path %></li>
          <li><%= link_to "Examples", pages_path("examples") %></li>
          <li><%= link_to "Community", pages_path("community") %></li>
        </ul>
      </nav>

      <%= yield :header %>
    </header>
    
    <%= flash_message %>
    
    <%= yield %>
  </section>
  
  <footer id="footer">
    <ul>
      <li><%= link_to "Home", "/" %></li>
      <li><%= link_to "Documentation", docs_path %></li>
      <li><%= link_to "Spine Mobile", mobile_path %></li>
      <li><%= link_to "About", pages_path("about") %></li>
    </ul>
  </footer>
</body>
</html>