<!DOCTYPE html>
<html>
<head>
  <title>Spine</title>
  <%= stylesheet_link_tag    "docs" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= css_scope %>">
  <header id="header">
    <h1><a href="/">Spine</a></h1>
    <h2><%= yield(:title) %></h2>
    <%= flash_message %>
  </header>
  
  <article id="article">
  
    <nav id="nav">
      <h2><%= link_to "Documentation", docs_path %></h2>
      <ul>
        <li><%= link_to "Introduction", docs_path("introduction") %></li>
        <li><%= link_to "Classes", docs_path("classes") %></li>
        <li><%= link_to "Models", docs_path("models") %></li>
        <li><%= link_to "Controllers", docs_path("controllers") %></li>
        <li><%= link_to "Events", docs_path("events") %></li>
        <li><%= link_to "Routing", docs_path("routing") %></li>
      </ul>
      
      <h2>Guides</h2>
      <ul>
        <li><%= link_to "Getting started", docs_path("started") %></li>
        <li><%= link_to "Using Spine.app", docs_path("app") %></li>
        <li><%= link_to "Using Hem", docs_path("hem") %></li>
        <li><%= link_to "Controller patterns", docs_path("controller_patterns") %></li>
        <li><%= link_to "Layout patterns", docs_path("layout_patterns") %></li>
        <li><%= link_to "Using forms", docs_path("forms") %></li>
        <li><%= link_to "Templating", docs_path("templating") %></li>
        <li><%= link_to "Custom Ajax", docs_path("ajax") %></li>
        <li><%= link_to "Rails integration", docs_path("rails") %></li>
        <li><%= link_to "Contacts example", docs_path("contacts") %></li>
      </ul>
      
      <h2>Mobile</h2>
      
      <ul>
        <li>Spine Mobile</li>
      </ul>
      
      <div id="search">
        <%= form_tag docs_path(:search), :method => :get do %>
          <input type="search" name="query" value="" placeholder="Search..." results="0">
        <%- end %>
      </div>
    </nav>
  
    <section id="section">    
      <%= yield %>
    </section>
    
  </article>
</body>
</html>