<!DOCTYPE html>
<html>
<head>
  <title><%= "#{content_for(:title)} - " if content_for?(:title) %>Spine Mobile</title>
  <%= stylesheet_link_tag    "docs" %>
  <%= javascript_include_tag "docs" %>
  <%= csrf_meta_tags %>
  <%= analytics_tag %>
</head>
<body class="<%= css_scope %>">
  <header id="header">
    <h1><%= link_to "Spine Mobile", mobile_pages_path %></a></h1>
    <h2><%= yield(:title) %></h2>
    <%= flash_message %>
  </header>
  
  <article id="article">
  
    <nav id="nav">
      <h2><%= link_to "Spine Mobile", mobile_path %></h2>
      <ul>
        <li><%= link_to "Introduction", mobile_path %>
        <li><%= link_to "Controllers", mobile_path("controllers") %>
        <li><%= link_to "Transitions", mobile_path("transitions") %>          
        <li><%= link_to "Events", mobile_path("events") %>
        <li><%= link_to "Header Tags", mobile_path("header") %>
        <li><%= link_to "Scrolling", mobile_path("scrolling") %>
        <li><%= link_to "Offline", mobile_path("offline") %>
        <li><%= link_to "PhoneGap", mobile_path("phonegap") %>        
        <li><%= link_to "Contacts Example", mobile_path("example") %>        
      </ul>
      
      <h2>More</h2>
      <ul>
        <li><%= link_to "Spine docs", docs_path %>
      </ul>
      
      <div id="search">
        <%= form_tag mobile_path(:search), :method => :get do %>
          <input type="search" name="query" value="" placeholder="Search..." results="0">
        <%- end %>
      </div>
    </nav>
  
    <section id="section">    
      <%= yield %>
    </section>
    
  </article>
</body>
</html>