<!DOCTYPE html>
<html>
<head>
  <title><%= "#{content_for(:title)} - " if content_for?(:title) %>Spine Mobile</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= analytics_tag %>
  <meta name="description" content="Spine Mobile - Build Awesome Mobile Web Applications">
  <meta name="tags" content="spine,javascript,mvc,framework,applications,mobile">
</head>
<body class="<%= css_scope %>">
  <section id="section">
    <header id="header">
      <div class="left">
        <h1><%= link_to "Spine Mobile", mobile_pages_path %></h1>
      </div>
      
      <nav class="right">
        <ul>
          <li><%= link_to "Documentation", mobile_path %></li>
          <li><%= link_to "Examples", mobile_pages_path("examples") %></li>
          <li><%= link_to "Spine", "/" %></li>
        </ul>
      </nav>

      <%= yield :header %>
    </header>
    
    <%= flash_message %>
    
    <%= yield %>
  </section>
  
  <footer id="footer">
    <ul>
      <li><%= link_to "Home", mobile_pages_path %></li>
      <li><%= link_to "Documentation", mobile_docs_path %></li>
      <li><%= link_to "Spine", pages_path %></li>
      <li><%= link_to "About", pages_path("about") %></li>
    </ul>
  </footer>
</body>
</html>